.project-container {
  height: 100vh;
  padding-top: 10%;
  padding-bottom: 10%;
  background: rgb(4, 20, 46);
  background-color: var(--white);
}

.project-title{
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .project-container {
    height: initial;
  }

  .project-title{
    font-size: 1.4rem;
  }
}
