.about-container {
  background-color: var(--white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-attachment: fixed;
}

.about-heading {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  font-weight: bold;
}

.about-container-section {
  height: 100vh;
  padding-top: 12.5%;
  padding-bottom: 17.5%;
}

.about-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-container {
  margin: 25px;
}

.img-avatar {
  display: block;
  width: 100%;
  border-radius: 50%;
  background-color: var(--grey);
}

.about-info-container {
  border-radius: 10px;
  font-size: 18px;
  height: 175px;
}

.about-info-content {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.about-info-content li{
  color: var(--black);
}

.about-info-content-1,
.about-info-content-2 {
  width: 50%;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .about-container{
    overflow-x: hidden;
    background-attachment: unset;
  }

  .about-heading {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    margin-bottom: 3rem;
  }

  .about-container-section {
    height: initial;
    padding-top: 30%;
    padding-bottom: 20%;
  }

  .about-title {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .img-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img-avatar {
    display: block;
    width: 150%;
    border-radius: 50%;
    background-color: var(--grey);
  }

  .about-info-container {
    margin-top: 25px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    padding: 0;
    width: 250px;
  }

  .about-info-container .about-info-content {
    width: 100%;
    padding-left: 10%;
  }

  .about-info-container .about-info-content-1 {
    margin-top: 15px;
    width: 100%;
  }

  .about-info-container .about-info-content-2 {
    margin-bottom: 15px;
    width: 100%;
  }

  .about-info-container .about-info-content li{
    width: 250%;
  }
}
