.navbar {
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.1);
  border-radius: 0 0 30px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(0,0,0,0.4);
  transition: all 0.8s ease;
  padding: 0;
}

.navbar-container-section{
  width: 100%;
}

.navbar-container-section ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-item--brand {
  transition: all 0.4s ease;
  cursor: pointer;
  border-radius: 10px;
}

.nav-item--brand:hover {
  color: #ffc93c;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  color: #fff;
  transition: all 0.4s ease;
}

.nav-item--brand:hover > .navbar-brand {
  color: #ffc93c;
}

.nav-link {
  font-size: 20px;
  color: #fff;
  transition: all 0.4s ease;
  font-family: "Josefin Sans", sans-serif;
}

.nav-link:hover {
  color: #ffc93c;
}

.nav-item {
  margin: 0 15px;
}

.nav-item {
  letter-spacing: 5px;
}

/* Scroll Effect */
.active {
  background: url("../../assets/img/tim-foster-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 75px;
  z-index: 2;
}

.active .nav-item--brand:hover {
  color: #ffc93c;
}

.active .navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  color: #fff;
  transition: all 0.4s ease;
}

.active .nav-item--brand:hover > .navbar-brand {
  color: #ffc93c;
}

.active .nav-link {
  font-size: 20px;
  color: #fff;
  transition: all 0.4s ease;
  font-family: "Josefin Sans", sans-serif;
}

.active .nav-link:hover {
  color: #ffc93c;
}

.active .nav-item {
  margin: 0 15px;
}

.active .nav-item {
  letter-spacing: 5px;
}

@media screen and (min-width: 300px) and (max-width: 600px){
  .navbar {
    transition: all 0.8s ease;
    height: 75px;
    padding: 0;
  }

  .navbar-container-section{
    width: 100%;
    height: 100vh;
  }

  .navbar-container-section ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 40px;
    transition: all 0.8s ease;
  }
  
  .nav-link {
    font-size: 16px;
    transition: all 0.8s ease;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-item {
    letter-spacing: 2px;
  }

  /* scroll effect */
  .active {
    background: #000;
    height: 65px;
    padding: 0;
    z-index: 2;
  }
  
  .active .navbar-brand {
    font-size: 35px;
    transition: all 0.8s ease;
  }
  
  .active .nav-link {
    font-size: 14px;
    transition: all 0.8s ease;
  }
  
  .active .nav-item {
    margin: 0 10px;
  }
  
  .active .nav-item {
    letter-spacing: 2px;
  }
}