.intro-container{
  background-image: url('../../assets/img/jasper-garratt-unsplash.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
  width: 100%;
  z-index: 2;
  background-attachment: fixed;
}

.intro-container-section{
  height: 100vh;
  padding-top: 17.5%;
  padding-bottom: 17.5%;
}

.intro-container-section .row{
  height: 100%;
}

.intro-title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-title-container .intro-text{
  color: #fff;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
}

.intro-title-container .intro-title{
  color: #ffc93c;
  font-size: 150px;
  font-family: 'Dancing Script'
}

.download-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* cv-button */
.CV-download {
  width: 20vw;
  height: 6vw;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  outline: none;
  background: linear-gradient(45deg, rgba(162, 213, 242, 0.1), rgba(64, 168, 196, 0.2), #07689F);
  background-size: 400% 400%;
  box-shadow: 1vw 1vw 0 rgba(255, 201, 60);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.CV-download:hover {
  animation: gradient 10s ease infinite;
  font-size: 2.05vw;
  box-shadow: 0.2vw 0.2vw 0 rgba(255, 201, 60);
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .intro-container{
    background-position: left;
    background-attachment: unset;
  }

  .intro-title-container .intro-text{
    color: #fff;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    width: 200%;
  }
  
  .intro-title-container .intro-title{
    color: #ffc93c;
    font-size: 70px;
    width: 200%;
    font-family: 'Dancing Script'
  }

  .intro-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .intro-container-section{
    height: initial;
    padding-top: 30%;
    padding-bottom: 20%;
  }

  .intro-container-section .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .download-container{
    margin-top: 15px;
  }

  .CV-download {
    width: 30vw;
    height: 10vw;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    letter-spacing: 0.1em;
    color: #e8e8e8;
    border: none;
    border-radius: 10px;
    outline: none;
    background: linear-gradient(45deg, rgba(162, 213, 242, 0.1), rgba(64, 168, 196, 0.2), #07689F);
    background-size: 400% 400%;
    box-shadow: 1vw 2vw 0 rgba(255, 201, 60);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }

  .CV-download:hover {
    animation: gradient 10s ease infinite;
    font-size: 3vw;
    box-shadow: 1vw 1vw 0 rgba(255, 201, 60);
  }
}