.error-content{
    background: var(--white);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
}

.error-container{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-container img{
    width: 500px;
}

.error-container h1{
    font-size: 5rem;
    margin: 3rem 0;
}

.error-container h1:first-child{
    transform: rotate(-5deg);
}

.error-container h1:last-child{
    transform: rotate(5deg);
}