.intro-container{
  background-color: var(--white);
  background-image: url("../../../../assets/img/stardust.png");
  z-index: 2;
  background-attachment: fixed;
}

.intro-container-section{
  height: 100vh;
  padding-top: 12%;
  padding-bottom: 12%;
}

.intro-container-section .row{
  height: 100%;
}

.intro-title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-title-container .intro-text{
  color: var(--grey);
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
}

.intro-title-container .intro-title{
  color: var(--black);
  font-size: 150px;
  font-family: 'Dancing Script'
}

/* .intro-small-text{
  padding: 0;
  margin: 0;
  text-align: right;
  margin-right: 50px;
  font-weight: lighter;
  color: var(--black);
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
} */

.download-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* About me button */
.btn-about{
  width: 12rem;
  height: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: var(--white);
  border: none;
  border-radius: 10px;
  outline: none;
  background: var(--black);
  background-size: 400% 400%;
  box-shadow: 0.6vw 0.6vw 0 #aca7a7;
  cursor: pointer;
  transition: font-size 0.5s ease, box-shadow 0.3s ease-in-out;
  outline: none;
  margin: 2rem 0;
}

/* cv-button */
.CV-download{
  width: 12rem;
  height: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: var(--black);
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: rgb(235, 235, 235);
  background-size: 400% 400%;
  box-shadow: 0.6vw 0.6vw 0 var(--black);
  cursor: pointer;
  transition: font-size 0.5s ease, box-shadow 0.3s ease;
  outline: none;
  margin: 2rem 0;
}

.btn-about:hover{
  animation: gradient 10s ease infinite;
  box-shadow: 0.2vw 0.2vw 0 var(--grey);
}

.CV-download:hover{
  animation: gradient 10s ease infinite;
  box-shadow: 0.2vw 0.2vw 0 var(--black);
}

.btn-about:focus, .CV-download:focus{
  border: none;
  outline: none;
}

.button-section{
  width: 150%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.button-section .btn-about{
  width: 12rem;
}

.button-section .CV-download{
  width: 12rem;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .intro-title-container .intro-text{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    width: 200%;
  }

  /* .intro-small-text{
    margin: 0;
    text-align: center;
    font-size: 18px;
  } */
  
  .intro-title-container .intro-title{
    font-size: 70px;
    width: 200%;
    font-family: 'Dancing Script'
  }

  .intro-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10%;
  }

  .intro-container-section{
    height: initial;
    padding-top: 40%;
    padding-bottom: 20%;
  }

  .intro-container-section .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .download-container{
    margin-top: 15px;
  }

  .btn-about, .CV-download{
    margin: 1rem 0;
  }

  /* About me button */
  .btn-about{
    box-shadow: 1vw 1vw 0 var(--grey);
    cursor: pointer;
  }

  /* cv-button */
  .CV-download{
    box-shadow: 1vw 1vw 0 var(--black);
    cursor: pointer;
  }

  a:hover .btn-about{
    animation: gradient 10s ease infinite;
    box-shadow: 0.6vw 0.6vw 0 var(--grey);
  }

  .CV-download:hover {
    animation: gradient 10s ease infinite;
    box-shadow: 0.6vw 0.6vw 0 var(--black);
  }

  .download-container{
    display: flex;
    flex-direction: column;
  }

  .button-section{
    width: 100%;
    flex-direction: column;
  }

  .download-container-content div img{
    display: none;
  }
}