:root{
    --black: #171717;
    --grey: #868686;
    --red: #DA0037;
    --white: #EDEDED;
}

html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}